.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
  }
  
  .input-main {
    height: 40px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
    transition: border-color 0.3s, background-color 0.3s;
    margin-bottom: 10px;
  }
  
  .input-main:focus {
    outline: none;
    border-color: #009ed8;
    background-color: #fff;
  }
  
  ::placeholder {
    font-size: 14px;
    color: #aaa;
  }
  